body {
  margin: 0;
  background-image: url(./copyright.png);
}
label {
  background-color: white;
  color: #e2136e;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: #707070;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}
.sidebar {
  background-color: #e2136e;
  color: white;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_dash {
  display: grid;
  margin: 2rem;
}

.file_upload {
  margin-top: 2rem;
}

h1 {
  font-size: 3.5rem;
  color: #707070;
  margin: 1rem 0;
}
h2 {
  margin: 0;
}

.center {
  text-align: center;
}

.visual_block {
  border: 1px solid #d6d6d6;
  padding: 1rem;
  padding-bottom: 2rem;
  border-radius: 50px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(2, 22rem);
  box-shadow: 6px 5px 12px #888888;
  justify-content: center;
  align-self: center;
  max-width: 50rem;
  background-color: white;
}
.pie_block {
  max-width: 400px;
}

.pie_legend_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;
}

.pie_legend {
  align-content: center;
}

#sla_w {
  color: #d12053;
}

#sla_b {
  color: #d12053;
}

/* CDD*/
.vertical {
  grid-template: repeat(3, auto) / repeat(1, auto);
  max-width: 30rem;
  max-height: 22rem;
}

.vertical .pie_legend {
  margin-top: 2rem;
}

.vertical .pie_block {
  max-width: 250px;
}
